*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: grey;
}
.container-navbar{
    display: flex;
    justify-content: flex-start;
    align-content: center;
}