
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}


.homecontainer {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    background: linear-gradient(135deg, #020617, #020617);
    color: #e5e7eb;
}


.home-left {
    max-width: 600px;
}

.home-left h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.home-left h1 span {
    color: #38bdf8;
}

.home-left h3 {
    font-size: 24px;
    color: #94a3b8;
    margin-bottom: 20px;
}

.home-left p {
    font-size: 16px;
    line-height: 1.7;
    color: #cbd5f5;
    margin-bottom: 30px;
}

/* BUTTONS */
.btn-group {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 26px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #0ea5e9;
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 2px solid #38bdf8;
    color: #38bdf8;
}

.btn-outline:hover {
    background-color: #38bdf8;
    color: #020617;
}

/* RIGHT SIDE */
.home-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #38bdf8;
    box-shadow: 0 0 40px rgba(56, 189, 248, 0.4);
}


@media (max-width: 900px) {
    .homecontainer {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .home-left {
        margin-bottom: 40px;
    }

    .btn-group {
        justify-content: center;
    }
}


