{% extends "base.html" %}
{% load static %}

{% block title %}
About
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock head %}
{% block body %}

<section id="projects" class="portfolio">
    <div class="section-header">
        <h2>My Projects</h2>
        <p>Here are some of my recent Python projects.</p>
    </div>

    <div class="project-grid">
        
        <div class="project-card">
            <h3>Hospital Management System</h3>
            <p>A mini Python project to manage patient records, appointments, and hospital workflow efficiently.</p>
            <p><strong>Tech:</strong> Python, Tkinter, SQLite</p>
            <a href="https://github.com/SaadRiaz99/Hospital" target="_blank">GitHub</a>
        </div>

        
        <div class="project-card">
            <h3>ATM Card Simulation</h3>
            <p>A Python project simulating ATM card transactions like balance inquiry, withdrawal, and PIN verification.</p>
            <p><strong>Tech:</strong> Python</p>
            <a href="https://github.com/SaadRiaz99/Atm" target="_blank">GitHub</a>
        </div>
        <div class="project-card">
            <h3>ATM Card Simulation</h3>
            <p>A Python project simulating ATM card transactions like balance inquiry, withdrawal, and PIN verification.</p>
            <p><strong>Tech:</strong> Python</p>
            <a href="https://github.com/yourusername/atm-card" target="_blank">GitHub</a>
        </div>
        <div class="project-card">
            <h3>ATM Card Simulation</h3>
            <p>A Python project simulating ATM card transactions like balance inquiry, withdrawal, and PIN verification.</p>
            <p><strong>Tech:</strong> Python</p>
            <a href="https://github.com/yourusername/atm-card" target="_blank">GitHub</a>
        </div>
        <div class="project-card">
            <h3>ATM Card Simulation</h3>
            <p>A Python project simulating ATM card transactions like balance inquiry, withdrawal, and PIN verification.</p>
            <p><strong>Tech:</strong> Python</p>
            <a href="https://github.comcard/yourusername/atm-" target="_blank">GitHub</a>
        </div>
        <div class="project-card">
            <h3>ATM Card Simulation</h3>
            <p>A Python project simulating ATM card transactions like balance inquiry, withdrawal, and PIN verification.</p>
            <p><strong>Tech:</strong> Python</p>
            <a href="https://github.com/yourusername/atm-card" target="_blank">GitHub</a>
        </div>

        <!-- Add more projects here -->
    </div>
</section>
{% endblock body %}

